<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608347808124-moqf03ebgnb7kps4q9jtdlbtb3bqggcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608347808124-moqf03ebgnb7kps4q9jtdlbtb3bqggcb</string>
	<key>API_KEY</key>
	<string>AIzaSyCWtgz4RbvtOhJefZy0OY31H1SFxNyaK1g</string>
	<key>GCM_SENDER_ID</key>
	<string>608347808124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoominfo.catalogApp</string>
	<key>PROJECT_ID</key>
	<string>book-catalog-app-89bc3</string>
	<key>STORAGE_BUCKET</key>
	<string>book-catalog-app-89bc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608347808124:ios:c0239d9fa7941c5ae104f9</string>
</dict>
</plist>